<!--Aqui Usamos este header, para tener la funciones del Cart-->
<ion-header>
  <ion-toolbar color="tertiary">

    <ion-buttons slot="end">
      <ion-button (click)="openPageCart()">
        
        <ion-badge *ngIf="cartHome.length > 0">{{ cartHome.length }}</ion-badge>
        <ion-icon name="cart" slot="icon-only"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button menu="customMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title text-capitalize> {{ titleHeaderPage }} </ion-title>
    
  </ion-toolbar>
</ion-header>
<!--Aqui Usamos este header, para tener la funciones del Cart-->

<ion-content #pageTop>
  <ion-grid>
    <ion-row>
      <!--DETALLES-->
      <!--DETALLES-->
      <ion-col size-xs="5" size-xs="12">
        <div *ngIf="viewDetail;then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
          <ion-card>
            <ion-card-content>
              <ion-title color="primary">
                <h1>{{obj.title}}</h1>
              </ion-title>
              <br />
              <ion-text style="font-size: 20px;">
                {{obj.detail}}
              </ion-text>
              <ion-text style="font-size: 12px;">
                <br />
                -{{obj.items}}
              </ion-text>
              
              <ion-text>
                <h1 style="margin-top: 10px;">Tiene un precio de: <span style="color:orangered">{{obj.price}}$</span></h1>
              </ion-text>
            </ion-card-content>

            <div style="text-align: center;">
              <ion-button (click)="sendToCart(obj)">Añadir al Carrito</ion-button>
            </div>
            
          </ion-card>
        </ng-template>
        <ng-template #elseBlock></ng-template>
      </ion-col>
      <!--DETALLES-->
      <!--DETALLES-->

      <!--PROMO-->
      <!--PROMO-->
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12" *ngFor="let promo of promoData; let ix =index">
        <ion-card>
          <ion-img class="zoom" src="/assets/productos/promo.png"></ion-img>
          <ion-card-header style="background-color: white;">
            <ion-card-title  class="headerCategoryProduct">{{promo.title}}</ion-card-title>
            <div style="text-align: center;">
              <ion-button (click)="viewDetails(ix)">Ver detalles</ion-button>
              <ion-button (click)="sendToCart(promo)">Añadir al Carrito</ion-button>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <!--PROMO-->
      <!--PROMO-->
    </ion-row>
  </ion-grid>
</ion-content>

<!--Footer-->
<footer-component>
</footer-component>
<!--Footer-->

<!--Button tools-->
<fab-icons-component></fab-icons-component>