<!--Aqui Usamos este header, para no tener el back-->
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/" text="Volver">-->
      <ion-back-button defaultHref="/home-view">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button menu="customMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title text-capitalize> {{ titleHeaderPage }} </ion-title>
    
  </ion-toolbar>
</ion-header>
<!--Aqui Usamos este header, para no tener el back-->

<ion-content>

  <ion-list>
    <!--Items in the cart-->
    <div *ngFor="let item of itemsProduct;" style="border-bottom:1x solid #fe5000">

      <ion-item lines="none">
        {{item.count}}x. - {{item.name}} - {{(item.price * rate).toFixed(2)}}{{currency}}
        <span slot="end">
          {{ ((item.price * item.count) * rate).toFixed(2) }}
          {{currency}}
        </span>
      </ion-item>

      <!--tooloptions for c/u-->
      <ion-item lines="none">
        <ion-button (click)="deleteProduct(item.name)">Eliminar</ion-button>
        <ion-button (click)="subCountProduct(item.name)">-</ion-button>
        <ion-button>{{item.count}}</ion-button>
        <ion-button (click)="addCountProduct(item.name)">+</ion-button>
      </ion-item>
    </div>
    <!--Items in the cart-->

    <!--Items Promotions in the cart-->
    <div *ngIf="flagPromo; then PromothenBlock else PromoelseBlock"></div>
    <ng-template #PromothenBlock>
      <ion-text color="primary" style="text-align:center;">
        <h3>Promociones:</h3>
      </ion-text>
      <div *ngFor="let promoItem of itemsPromotions;">
        <ion-item lines="none">
          {{promoItem.count}}x. {{promoItem.title}} - {{(promoItem.price * rate).toFixed(2)}}{{currency}}
          <span slot="end">
            {{ ((promoItem.price * promoItem.count) * rate).toFixed(2) }}
            {{currency}}
          </span>
        </ion-item>
        <!--tooloptions for c/u-->
        <ion-item lines="none">
          <ion-button (click)="deleteProduct(promoItem.title)">Eliminar</ion-button>
        </ion-item>
      </div>
    </ng-template>
    <ng-template #PromoelseBlock></ng-template>
    <!--Items Promotions in the cart-->

    <!--Total section-->
    <div style="border-bottom: 1px solid #dddddd;">
      <ion-item lines="none">
        Total a pagar: <span slot="end">{{ (totalPrice * rate).toFixed(2) }}{{currency}}</span>
      </ion-item>
      
      <div *ngIf="flagCartClean; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>

        <ion-item>
          <ion-label>Tipo de Cambio a Usar:</ion-label>
          <ion-select placeholder="Selecciona Uno" value="dolares" (ionChange)="changeCurrency($event)">
            <ion-select okText="Okay" cancelText="Cancelar"></ion-select>
            <ion-select-option value="dolares">Dolares</ion-select-option>
            <ion-select-option value="bolivares">Bolivares</ion-select-option>
          </ion-select>
          <div *ngIf="flagExchange; then thenExchangeRate else elseExchangeRate"></div>
          <ng-template #thenExchangeRate>
            <ion-text>{{exchangeRate}}</ion-text>
          </ng-template>
          <ng-template #elseExchangeRate></ng-template>
        </ion-item>

        <!-- Botones de accion -->
        <ion-item lines="none">
          <ion-button color="secondary" (click)="cartClear()">Vaciar mi carrito</ion-button>
          <ion-button color="secondary" (click)="openModalForPay()" disabled={{flagExtrasReady}}>Personalizar Pedido</ion-button>
        </ion-item>
        <!-- Botones de accion -->

      </ng-template>
      <ng-template #elseBlock></ng-template>
    </div>
    <!--Total section-->

    <!-- ELIMINAR PRUEBA TODO: -->
    <ion-button color="secondary" (click)="openModalForPay()">PRUEBA MODAL</ion-button>
    <!-- ELIMINAR PRUEBA TODO: -->
    
  </ion-list>

  <!--METODOS-->
  <!--METODOS-->

  <ion-text color="primary" style="text-align:center;">
    <h1>Metodos de pago</h1>
  </ion-text>

  <ion-grid>
    <ion-row>

      <!--PAYPAL-->
      <!--PAYPAL-->
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img class="zoom" src="https://www.mundocuentas.com/img-servicios/paypal.png"></ion-img>
          <ion-card-header style="background-color: white;">
            <ion-card-title  class="headerCategoryProduct">PAYPAL</ion-card-title>
            <div style="text-align: center;">
              <ion-button>PAGAR</ion-button>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <!--PAYPAL-->
      <!--PAYPAL-->
    
      <!--STRYPE-->
      <!--STRYPE-->
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img class="zoom" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/ba/Stripe_Logo%2C_revised_2016.svg/1200px-Stripe_Logo%2C_revised_2016.svg.png"></ion-img>
          <ion-card-header style="background-color: white;">
            <ion-card-title  class="headerCategoryProduct">STRYPE</ion-card-title>
            <div style="text-align: center;">
              <ion-button>PAGAR</ion-button>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <!--STRYPE-->
      <!--STRYPE-->
    
      <!--ZELLE-->
      <!--ZELLE-->
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img class="zoom" src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Zelle_logo.svg"></ion-img>
          <ion-card-header style="background-color: white;">
            <ion-card-title  class="headerCategoryProduct">ZELLE</ion-card-title>
            <div style="text-align: center;">
              <ion-button>PAGAR</ion-button>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <!--ZELLE-->
      <!--ZELLE-->

      <!--PAGO MOVIL-->
      <!--PAGO MOVIL-->
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-img class="zoom" src="https://www.paymentmedia.com/gallery/5aa6e090956e0pagointerbancario_623.png"></ion-img>
          <ion-card-header style="background-color: white;">
            <ion-card-title  class="headerCategoryProduct">Pago Movil</ion-card-title>
            <div style="text-align: center;">
              <ion-button>PAGAR</ion-button>
            </div>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <!--PAGO MOVIL-->
      <!--PAGO MOVIL-->

    </ion-row>
  </ion-grid>
  <!--METODOS-->
  <!--METODOS-->

</ion-content>

<footer-component>
</footer-component>

<!--
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon name="cash-outline" style="color: black;"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="top">
    <ion-fab-button color="secondary" style="color: black;" (click)="changeCurrency('dolares')">
      <span style="color: black; font-weight: bold;">$</span>
    </ion-fab-button>
    <ion-fab-button color="secondary" style="color: black;" (click)="changeCurrency('bolivares')">
      <span style="color: black; font-weight: bold;">Bs</span>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
-->

<!--Button tools-->
<fab-icons-component></fab-icons-component>