<!--Aqui Usamos este header, para no tener el back-->
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/" text="Volver">-->
      <ion-back-button defaultHref="/home-view">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="start">
      <ion-menu-button menu="customMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title text-capitalize> {{ titleHeaderPage }} </ion-title>
    
  </ion-toolbar>
</ion-header>
<!--Aqui Usamos este header, para no tener el back-->

<ion-content>
  <ion-list>
      <ion-item *ngFor="let item of selectedItems;" lines="inset">
        {{item.count}}x. - {{item.name}} - {{item.price}}$
        
        <span slot="end">{{ (item.price * item.count).toFixed(2) }}$</span>

        <ion-item>
          <ion-button (click)="deleteProduct(item.name)">Eliminar</ion-button>
        </ion-item>

      </ion-item>
      <ion-item>
        Total a pagar: <span slot="end">{{ totalPrice }}$</span>
      </ion-item>
      
      <ion-item *ngIf="flagCartClean" (click)="cartClear()">
        <ion-button>Vaciar mi carrito</ion-button>
      </ion-item>
      

  </ion-list>

  <ion-list>

    <ion-text color="primary" style="text-align:center;">
      <h1>Metodos de pago</h1>
    </ion-text>
  </ion-list>
  <!--
    <ion-item (click)="onClick('stripe')">
      <ion-icon slot="start" name="card-outline"></ion-icon>
      <ion-label>Stripe</ion-label>
    </ion-item>
  </ion-list>
  -->

  <!--
    <div class="credit-card-stripe noneDis" id="cardStripe">
      <div #cardInfoStripe></div>
      <div class="error" *ngIf="cardError">{{cardError}}</div>
      <button>Pagar</button>
    </div>
  -->
</ion-content>
