<style>
  .item{
    --background: --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  .priceAmount{
    color: grey;
    font-weight: bold;
    --background: --background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  .priceTotal{
    color:greenyellow
  }
</style>

<!-- Header Modal -->
<!-- Header Modal -->
<ion-header>
  <ion-toolbar>
    <ion-title class="titleHeader">Total en Carrito: <span class="priceTotal">{{totalToPay}}$</span></ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- Header Modal -->
<!-- Header Modal -->


<ion-content>
  <!--Items in the cart no promo-->
  <div *ngFor="let item of itemsProduct;" style="border-bottom:1x solid #fe5000">

    <ion-item lines="none">
      {{item.count}}x. - {{item.name}} - {{(item.price * rate).toFixed(2)}}{{currency}}
      <span slot="end">
        {{ ((item.price * item.count) * rate).toFixed(2) }}
        {{currency}}
      </span>
    </ion-item>

    <!--tooloptions for c/u-->
    <ion-item lines="none">
      <ion-button (click)="deleteProduct(item.name)">Eliminar</ion-button>
      <ion-button (click)="subCountProduct(item.name)">-</ion-button>
      <ion-button>{{item.count}}</ion-button>
      <ion-button (click)="addCountProduct(item.name)">+</ion-button>
    </ion-item>
    
  </div>
  <!--Items in the cart-->

  <!--Items Promotions in the cart-->
  <div *ngIf="flagPromo; then PromothenBlock else PromoelseBlock"></div>
  <ng-template #PromothenBlock>
    <ion-text color="primary" style="text-align:center;">
      <h3>Promociones:</h3>
    </ion-text>
    <div *ngFor="let promoItem of itemsPromotions;">
      <ion-item lines="none">
        {{promoItem.count}}x. {{promoItem.title}} - {{(promoItem.price * rate).toFixed(2)}}{{currency}}
        <span slot="end">
          {{ ((promoItem.price * promoItem.count) * rate).toFixed(2) }}
          {{currency}}
        </span>
      </ion-item>
      <!--tooloptions for c/u-->
      <!-- <ion-item lines="none">
        <ion-button (click)="deleteProduct(promoItem.title)">Eliminar</ion-button>
      </ion-item> -->
    </div>
  </ng-template>
  <ng-template #PromoelseBlock></ng-template>
  <!--Items Promotions in the cart-->

  <!--Total section-->
  <div style="border-bottom: 1px solid #dddddd;">
    <ion-item lines="none">
      Total a pagar: <span slot="end">{{ (totalToPay * rate).toFixed(2) }}{{currency}}</span>
    </ion-item>
    
    <div *ngIf="flagCartClean; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>

      <!-- <ion-item>
        <ion-label>Tipo de Cambio a Usar:</ion-label>
        <ion-select placeholder="Selecciona Uno" value="dolares" (ionChange)="changeCurrency($event)">
          <ion-select okText="Okay" cancelText="Cancelar"></ion-select>
          <ion-select-option value="dolares">Dolares</ion-select-option>
          <ion-select-option value="bolivares">Bolivares</ion-select-option>
        </ion-select>
        <div *ngIf="flagExchange; then thenExchangeRate else elseExchangeRate"></div>
        <ng-template #thenExchangeRate>
          <ion-text>{{exchangeRate}}</ion-text>
        </ng-template>
        <ng-template #elseExchangeRate></ng-template>
      </ion-item> -->

      <!-- Botones de accion -->
      <!-- Botones de accion -->
      <ion-item lines="none">
        <!-- <ion-button color="secondary" (click)="cartClear()" class="btnActionCart">Vaciar mi carrito</ion-button> -->
        <ion-button color="secondary" (click)="cartClear()" class="btnActionCart">Vaciar mi carrito</ion-button>
        <!-- <ion-button color="secondary" (click)="openModalForPay()" class="btnActionCart" disabled={{flagExtrasReady}}>Personalizar Pedido</ion-button> -->
      </ion-item>

      <!-- <ion-item lines="none"> -->
        <!-- <ion-button color="primary" disabled (click)="pay()">Pagar</ion-button> -->
        <!-- <ion-button color="primary" disabled>Pagar</ion-button> -->
      <!-- </ion-item> -->
      
      <!-- Botones de accion -->
      <!-- Botones de accion -->

    </ng-template>
    <ng-template #elseBlock></ng-template>
  </div>
  <!--Total section-->
  
</ion-content>

<!-- Footer // Button Yeah Cart -->
<!-- Footer -->
<ion-footer>
  <ion-toolbar style="text-align:center">
    <ion-grid>
      <ion-row>
        <ion-col  size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-button (click)="closeModalWithOuthParams()" color="primary" expand="full"> Cancelar</ion-button>
        </ion-col>
        <ion-col  size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-button (click)="closeModalWithParams()" color="secondary" expand="full">Pagar</ion-button>    
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<!-- Footer -->
<!-- Footer -->