
  .priceTotal{
    background: #000;
    border-radius: 10px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    margin-top: -5px;
  }
  .titleHeader{
    color: dimgrey;
    font-weight: 600;
    margin-bottom: -5px;
  }