<style></style>
<!--Aqui Usamos este header, para no tener el back-->
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <!--<ion-back-button defaultHref="/" text="Volver">-->
      <ion-back-button defaultHref="/">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-title text-capitalize> {{ titleHeaderPage }} </ion-title>
    
  </ion-toolbar>
</ion-header>
<!--Aqui Usamos este header, para no tener el back-->

<ion-content>

  <form [formGroup]="forgotPassVerificationForm">

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input 
        type="text" 
        inputmode="email"
        formControlName="email"
        required>
      </ion-input>
      <div *ngFor="let error of errorMessages.email">
          <ng-container *ngIf="forgotPassVerificationForm.controls['email'].hasError(error.type) && (forgotPassVerificationForm.controls['email'].dirty || forgotPassVerificationForm.controls['email'].touched)">
          <small class="error-message">{{error.message}}</small>
        </ng-container>
      </div>
    </ion-item>
    
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          (click)="resetPassword()"
          expand="block">
          Recuperar
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>

<!--Button RedSocial-->
<fab-icons-component></fab-icons-component>

<footer-component>
</footer-component>