<ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <ion-icon name="construct-outline"></ion-icon>
  </ion-fab-button>

  <ion-fab-list side="start">
    <ion-fab-button color="primary" (click)="onClick('instagram')">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="onClick('facebook')">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="onClick('twitter')">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
  </ion-fab-list> 

  <ion-fab-list side="top">
    <ion-fab-button color="primary" (click)="goLanguages()">
      <ion-icon name="language-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="goCart()">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="goAdmin()">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list> 

</ion-fab>