/*

 * App Global CSS
 * ----------------------------------------------------------------------------

*/
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/**/
/*Se coloca aqui, porque los componentes solo cambian si el estilo es global*/
/**/


.headerTitleCardProduct{
    font-weight: 600;
    color: black;
    font-size: 13px;
}


/*Grid de Categorias de Productos*/
.category-banner{
    border-left: 8px solid var(--ion-color-secondary);
    background: var(--ion-color-primary) !important;
    height: 40px;
    color: white;
    font-weight: 600;
    margin-bottom: 1px;
    padding-top: 8px;
    padding-left: 5px;
}
.noDisplayContent{
    display: none;
}
.displayContent{
    display: block !important;
}

.noDisplayContentProd{
    display: none;
}
.displayContentProd{
    display: block !important;
}
/*Grid de Categorias de Productos*/

/*Toast Message in Cart*/
.toastCart{
    text-align: center;
    color: black;
    font-weight: bold;
    --background: #FFFFFF;
}
/*Toast Message in Cart*/

/*Card stripe*/
.credit-card-stripe{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.noneDis{
    display: none;
}
/*Card stripe*/

.inner-scroll.scroll-y{
    background: red !important;
}

.error-message {
    color: var(--ion-color-danger);
}

/* color body*/
//ion-content{ --ion-background-color:#f7f7f7; }
ion-content{

    --ion-background-color: #ECE9E6;  /* fallback for old browsers */
    --ion-background-color: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    --ion-background-color: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Header Alert title*/
.alert-title.sc-ion-alert-md{
    color: red !important;
    font-size: 30px !important;
}

/*Card header message*/
.deleteCss span, .deleteCss .sc-ion-action-sheet-md{
    color: red !important;
    font-weight: bold;
}
/*img card produc*/
.swiper-slide img {
    width: 100%;
}

/*paragraft footer*/
.pFooter{
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

/*Zoom de productos*/
.zoom{ transition: transform 0.3s; }
.zoom:hover{ transform: scale(1.3); }

/*title*/
.headerCategoryProduct{
    color: #fe4f00 !important;
    font-size: 18px !important;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
}

.fabInstagram{
    --background: white;
    --color: black;
}
.fabFacebook{
    --background: white;
    --color: blue;
}
.fabTwitter{
    --background: linear-gradient(45deg, #66757f, #00ACEE, #36D8FF, #50dcff, #ffffff);
    --color: white;
}

/*Carrito*/
ion-badge{
    color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 100%;
    background: #c1c1c1;
}

@media only screen and (max-width: 464px) {
    .titleProductsTxt{
        font-size: 16px;
    }
}
@media only screen and (max-width: 476px) {
    .itemEliminar{
        display: block;
    }
}
@media only screen and (max-width: 346px) {
    .btnCardLogin{
        font-size: 12px;
    }
}
/*Si llegaramos a usar botones para el nav--- APLICAR el menuMediaQry y su query */
/*
.MenuMediaQry{
    display: block;
}
@media only screen and (max-width: 500px) {
    .MenuMediaQry{
        display: none;
    }
}
*/
/*Si usamos textos largos antes mencionados.*/
/*@media only screen and (max-width: 786px) {
    .MenuMediaQry{
        display: none;
    }
}*/



/*
* -------------------------------------------
* Dark Colors
* -------------------------------------------
*/

.CardBody{
background: white;
}
.headerTitleCardProduct{
font-weight: 600;
color: black;
font-size: 13px;
}
ion-content {
--background: var(--ion-item-background, var(--ion-background-color, #fff))
}
body.dark {
--ion-color-personalizado: #006eff;
--ion-color-personalizado-rgb: 0,110,255;
--ion-color-personalizado-contrast: #ffffff;
--ion-color-personalizado-contrast-rgb: 255,255,255;
--ion-color-personalizado-shade: #0061e0;
--ion-color-personalizado-tint: #1a7dff;

--ion-color-primary: #fe5000;
--ion-color-primary-rgb: 254,80,0;
--ion-color-primary-contrast: #ffffff;
--ion-color-primary-contrast-rgb: 255,255,255;
--ion-color-primary-shade: #e04600;
--ion-color-primary-tint: #fe621a;

--ion-color-secondary: #3dc2ff;
--ion-color-secondary-rgb: 61,194,255;
--ion-color-secondary-contrast: #ffffff;
--ion-color-secondary-contrast-rgb: 255,255,255;
--ion-color-secondary-shade: #36abe0;
--ion-color-secondary-tint: #50c8ff;

--ion-color-tertiary: #5260ff;
--ion-color-tertiary-rgb: 82,96,255;
--ion-color-tertiary-contrast: #ffffff;
--ion-color-tertiary-contrast-rgb: 255,255,255;
--ion-color-tertiary-shade: #4854e0;
--ion-color-tertiary-tint: #6370ff;

--ion-color-success: #2dd36f;
--ion-color-success-rgb: 45,211,111;
--ion-color-success-contrast: #ffffff;
--ion-color-success-contrast-rgb: 255,255,255;
--ion-color-success-shade: #28ba62;
--ion-color-success-tint: #42d77d;

--ion-color-warning: #ffc409;
--ion-color-warning-rgb: 255,196,9;
--ion-color-warning-contrast: #000000;
--ion-color-warning-contrast-rgb: 0,0,0;
--ion-color-warning-shade: #e0ac08;
--ion-color-warning-tint: #ffca22;

--ion-color-danger: #eb445a;
--ion-color-danger-rgb: 235,68,90;
--ion-color-danger-contrast: #ffffff;
--ion-color-danger-contrast-rgb: 255,255,255;
--ion-color-danger-shade: #cf3c4f;
--ion-color-danger-tint: #ed576b;

--ion-color-dark: #222428;
--ion-color-dark-rgb: 34,36,40;
--ion-color-dark-contrast: #ffffff;
--ion-color-dark-contrast-rgb: 255,255,255;
--ion-color-dark-shade: #1e2023;
--ion-color-dark-tint: #383a3e;

--ion-color-medium: #92949c;
--ion-color-medium-rgb: 146,148,156;
--ion-color-medium-contrast: #ffffff;
--ion-color-medium-contrast-rgb: 255,255,255;
--ion-color-medium-shade: #808289;
--ion-color-medium-tint: #9d9fa6;

--ion-color-light: #f4f5f8;
--ion-color-light-rgb: 244,245,248;
--ion-color-light-contrast: #000000;
--ion-color-light-contrast-rgb: 0,0,0;
--ion-color-light-shade: #d7d8da;
--ion-color-light-tint: #f5f6f9;
}

.ios body.dark {
--ion-background-color: #000000;
--ion-background-color-rgb: 0,0,0;

--ion-text-color: #ffffff;
--ion-text-color-rgb: 255,255,255;

--ion-color-step-50: #0d0d0d;
--ion-color-step-100: #1a1a1a;
--ion-color-step-150: #262626;
--ion-color-step-200: #333333;
--ion-color-step-250: #404040;
--ion-color-step-300: #4d4d4d;
--ion-color-step-350: #595959;
--ion-color-step-400: #666666;
--ion-color-step-450: #737373;
--ion-color-step-500: #808080;
--ion-color-step-550: #8c8c8c;
--ion-color-step-600: #999999;
--ion-color-step-650: #a6a6a6;
--ion-color-step-700: #b3b3b3;
--ion-color-step-750: #bfbfbf;
--ion-color-step-800: #cccccc;
--ion-color-step-850: #d9d9d9;
--ion-color-step-900: #e6e6e6;
--ion-color-step-950: #f2f2f2;

--ion-item-background: #000000;

--ion-card-background: #1c1c1d;
}
.ios body.dark ion-modal {
--ion-background-color: var(--ion-color-step-100);
--ion-toolbar-background: var(--ion-color-step-150);
--ion-toolbar-border-color: var(--ion-color-step-250);
}
.md body.dark {
--ion-background-color: #121212;
--ion-background-color-rgb: 18,18,18;

--ion-text-color: #ffffff;
--ion-text-color-rgb: 255,255,255;

--ion-border-color: #222222;

--ion-color-step-50: #1e1e1e;
--ion-color-step-100: #2a2a2a;
--ion-color-step-150: #363636;
--ion-color-step-200: #414141;
--ion-color-step-250: #4d4d4d;
--ion-color-step-300: #595959;
--ion-color-step-350: #656565;
--ion-color-step-400: #717171;
--ion-color-step-450: #7d7d7d;
--ion-color-step-500: #898989;
--ion-color-step-550: #949494;
--ion-color-step-600: #a0a0a0;
--ion-color-step-650: #acacac;
--ion-color-step-700: #b8b8b8;
--ion-color-step-750: #c4c4c4;
--ion-color-step-800: #d0d0d0;
--ion-color-step-850: #dbdbdb;
--ion-color-step-900: #e7e7e7;
--ion-color-step-950: #f3f3f3;

--ion-item-background: #1e1e1e;

--ion-toolbar-background: #1f1f1f;

--ion-tab-bar-background: #1f1f1f;

--ion-card-background: #1e1e1e;
}
/*
* -------------------------------------------
* Dark Colors
* -------------------------------------------
*/